{% extends 'rootpage.html' %}
{%load static%}


{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
</head>
<br>


<div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" target="_blank">User profile</a>
            <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            </form>
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="media align-items-center">
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">HappyPaws</span>
                            </div>
                        </div>
                    </a>
        </div>
        </li>
        </ul>
</div>
</nav>
<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="display:none;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="user-profile-container">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <p class="text-white mt-0 mb-5">This is your personal information page. You can keep track of your
                    work progress and manage your projects.</p>
                <a href="#!" class="btn btn-info">Edit profile</a>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
{%block userdata%}

{%endblock userdata%}

{%endblock%}